.box{
  height:200px;
  width:200px;
  background: #000000;
  color:#fff;
  position: relative;
  &-cover{
    height:100px;
    width:100px;
    background: #F40;
    position: absolute;
    transform: rotate(-30deg);
  }
}
